* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.join {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

h1{
  margin-bottom: 20px;
}

form input {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #4f9cf9 ;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #3580db;
}
